body {
    font-family: Arial, sans-serif;
    background-color: #f7f3ee; /* Changer la couleur de fond */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background-color: #fff;
    padding: 30px; /* Multiplier la taille par 1.5 */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #2d2626; /* Changer la couleur de la police */
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 8px;
    text-align: center; /* Centrer le texte */
    color: #2d2626; /* Changer la couleur de la police */
}

input {
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px;
    background-color: #ecdd7b; /* Changer la couleur du bouton */
    color: #2d2626; /* Changer la couleur de la police */
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #c8b96d; /* Changer la couleur au survol */
}
