<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style2.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>Phase 2</title>
</head>
<body>

    
    <body class="bg-gray-200">
        <div id="flex-container-1" class="flex-container">
                <!-- Logo en haut à gauche -->
                <img src="/static/logo.png" alt="Votre Logo" class="w-12 h-12">
                <!-- Numéro du groupe en haut à droite -->
                <div id="numberDisplay" class="text-xl font-bold"></div>
           
        </div>
        <div>
            <h1>C la fin</h1>
        </div>
    </div>
</body>
</html>
